$buttonTextColor: #ff0007;
$borderRadius: 5px;
$bgdColor: #2000ff;;
$height: 50px;
$width: 100px;
$fontSize: 15px;

#test{
  color: $buttonTextColor;
  border-radius: $borderRadius;
  background-color: $bgdColor;
  height: $height;
  width: $width;
  font-size: $fontSize;
}